body{
    box-sizing: border-box;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
}

*{
    padding: 0%;
    margin: 0%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 90%;
    margin: 0% auto;
}

/* start header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 85%;
    margin: 0% auto;
    padding: 15px 0px;
    background-color: white;
    position: relative;
    position: sticky;
}

.logo {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    color: #5fcf80;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

#check {
    display: none;
}

nav>ul {
    display: flex;
    gap: 30px;
    position: relative;
}

nav ul li a {
    text-transform: capitalize;
    color: black;
    font-weight: 500;
}

.get__started {
    background-color: #5fcf80;
    color: white;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.home a {
    color: #5fcf80;
}

nav ul a:hover {
    color: #5fcf80;
}

.dropdown {
    position: relative;
    z-index: 4;
}

.dropdown a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown a i{
    padding-left: 5px;
    font-size: 13px;
    text-align: center;
}

.dropbtn {
    color: #000000;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.911);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width:1200px) {
    header {
        max-width: 95%;
    }

    nav {
        gap: 20px;
    }
}

@media (min-width:993px) {
    header nav .fa-bars {
        display: none;
    }
}

@media (max-width:992px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    .fa-bars {
        font-size: 20px;
    }

    header nav ul {
        display: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.911);
        left: -100%;
        top: 70px;
        margin: 0%;
        padding: 20px 0px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 99;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }

    header nav #check:checked~ul {
        left: 0%;
        width: 100%;
    }

    .dropdown-content{
        right: 40px;
        top: 20px;
    }
}
/* end header */

/* start about */
.about__header{
    background-color: #5fce81;
    text-align: center;
    color: white;
    padding: 30px 0px;
}

.about__header h2{
    font-size: 35px;
    font-weight: 400;
}

.about__header p{
    line-height: 1.5;
}
/* end about */
/* start popular courses */
/* **************************************** */
.popular__courses{
    margin: 50px 0px;
} 

.courses{
    max-width: 90%;
    margin: 0% auto;
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}

.courses .box .image{
    position: relative;
    width: 100%;
    height: 300px;
    z-index: -1;
}

.courses .box .image img{
    position: absolute;
    width: 100%;
    height: 100%;
}


/* ************************** */
.trainer__information{
    padding: 10px;
    border: 1px solid #f3f5f3;
}

.box .info .image2{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.box .info img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.courses .box .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .box .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: #69786c;
}

.courses .box .info > div{
    display: flex;
    align-items: center;
}

.box .price p{
    padding: 7px 15px;
    background-color: #3dd16f;
    color: white;
    margin-bottom: 20px;
}

.box .price span{
    font-size: 17px;
    font-weight: 900;
    color: #3e4b43;
}

.trainer__information a{
    font-size: 24px;
    color: #3e4b43;
    font-weight: 600;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.trainer__information a:hover{
    color: #3dd16f;
}

.trainer__information > p{
    color: #909090;
    padding: 15px 0px;
    border-bottom: 1px solid #e0e1e0;
    line-height: 1.4;
}

.box .info span{
    display: flex;
    gap: 5px;
    align-items: center;
}

.box .info i{
    font-size: 17px;
}

.box .info p{
    font-weight: 500;
} 
/* end popular courses */
/* start footer */
footer{
    background-color: #f9fbf8;
}

.footer{
    max-width: 90%;
    margin: 0% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 0px;
}

.footer__mentor h2{
    font-size: 30px;
    font-weight: 200;
}

.footer__mentor span{
    color: #484747;
    font-weight: 800;
    font-size: 15px;
}

.address{
    margin-top: 30px;
}

footer h2 , footer h3{
    color: #374341;
    margin-bottom: 15px;
}

.footer__mentor p{
    color: #888888;
    line-height: 1.6;
}

.footer__Useful__Links a ,.footer__Our__Services a{
    line-height: 2.5;
    display: block;
    color: #888888;
    display: flex;
    align-items: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.footer__Useful__Links a:hover , .footer__Our__Services a:hover{
    color: #3dd16f;
}

.footer__Useful__Links i , .footer__Our__Services i{
    margin-right: 5px;
    font-size: 12px;
    color: #3dd16f;
}

.footer__Join_Our_Newsletter p{
    color: #585757;
    line-height: 1.5;
    margin: 30px 0px;
}

.footer__Join_Our_Newsletter form{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 15px;
    background-color: white;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 1px solid #e7eae9;
}

.footer__Join_Our_Newsletter form input[type="text"]{
    padding: 0px 60px;
    border: none;
}

@media (max-width:767px){
    .footer__Join_Our_Newsletter form input[type="text"]{
        padding: 0px 30px;
    }
}

.footer__Join_Our_Newsletter form input[type="button"]{
    padding: 14px 25px;
    background-color: #3dd16f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.footer__Join_Our_Newsletter form input[type="button"]:hover{
    background-color: #3bc163;
}

.end__page{
    background-color: #eef0ef;
}

.end__page_content{
    max-width: 90%;
    margin: 0% auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.end__page_content p{
    margin-top: 10px;
    color: #6d6681;
}

.end__page_content span{
    color: #374341;
    font-size: 17px;
    font-weight: 500;
}

.end__page_content a{
    color: #3bc16f;
}

.end__page_content a:hover{
    color: #1fa547;
}

.icons__endpage{
    display: flex;
    gap: 10px;
}

.icons__endpage div{
    background-color: #3bc163;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.icons__endpage i{
    color: white;
    font-size: 20px;
}
/* end footer */