body {
    box-sizing: border-box;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0%;
    margin: 0%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* start header */
.container__header {
    background-image: url("../images/hero-bg.jpg");
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}

.header {
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 85%;
    margin: 0% auto;
    padding: 15px 0px;
    background-color: white;
    position: relative;
    position: sticky;
}

.logo {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    color: #5fcf80;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

#check {
    display: none;
}

nav>ul {
    display: flex;
    gap: 30px;
    position: relative;
}

nav ul li a {
    text-transform: capitalize;
    color: black;
    font-weight: 500;
}

.get__started {
    background-color: #5fcf80;
    color: white;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.home a {
    color: #5fcf80;
}

nav ul a:hover {
    color: #5fcf80;
}

.dropdown {
    position: relative;
    z-index: 4;
}

.dropdown a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown a i {
    padding-left: 5px;
    font-size: 13px;
    text-align: center;
}

.dropbtn {
    color: #000000;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.911);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width:1200px) {
    header {
        max-width: 95%;
    }

    nav {
        gap: 20px;
    }
}

@media (min-width:993px) {
    header nav .fa-bars {
        display: none;
    }
}

@media (max-width:992px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    .fa-bars {
        font-size: 20px;
    }

    header nav ul {
        display: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.911);
        left: -100%;
        top: 70px;
        margin: 0%;
        padding: 20px 0px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 99;
        height: 55vh;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }

    header nav #check:checked~ul {
        left: 0%;
        width: 100%;
    }

    .dropdown-content {
        right: 40px;
        top: 20px;
    }
}
/* end header */

/* start banner */
.banner {
    height: 70vh;
    display: flex;
    align-items: center;
    color: white;
}

.banner .banner__text {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.381), rgba(0, 0, 0, 0.375));
    width: 100%;
    height: 100%;
}

.banner .banner__text .banner__text__inner {
    max-width: 80%;
    margin: 150px auto;
}

.banner h1 {
    font-size: 50px;
    max-width: 60%;
}

.banner p {
    font-size: 24px;
    margin: 10px 0px 30px 0px;
}

.banner a {
    color: white;
    text-transform: capitalize;
    padding: 10px 35px;
    border: 2px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.banner a:hover {
    background-color: #5fcf80;
    border: none;
}

@media (max-width:767px) {
    .banner{
        height: 60vh;
    }
    .banner .banner__text .banner__text__inner {
        margin: 70px auto;
    }
    .banner h1 {
        font-size: 35px;
        max-width: 80%;
    }
}

/* end banner */

/* start about */
.about {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 90%;
    margin: 70px auto;
    color: #444444;
}

.about .right {
    max-width: 40%;
}

.about .right img {
    height: 65vh;
}

@media (min-width:993px) {
    .about .left {
        max-width: 50%;
    }
}

.about .left h3 {
    font-size: 30px;
    margin-bottom: 8px;
}

.about .left p {
    font-size: 20px;
    margin: 20px 0px;
}

.about .left p:last-child {
    margin-top: 30px;
}

.about .left p:first-child {
    margin-bottom: 30px;
}

.about .left i {
    color: #5fcf80;
}

@media (max-width:1400px) {
    .about .right img {
        height: 60vh;
    }
}

@media (max-width:1300px) {
    .about {
        width: 100%;
        gap: 0px;
    }

    .about .right img {
        height: 55vh;
    }
}

@media (max-width:1200px) {
    .about {
        margin: 70px 0%;
        width: 100%;
        gap: 0px;
    }

    .about .right img {
        height: 50vh;
    }
}

@media (max-width:992px) {
    .about {
        flex-direction: column;
        max-width: 90%;
        margin: 70px auto;
    }

    .left {
        order: 2;
        max-width: 90%;
    }

    .about .right img {
        height: 70vh;
    }
}

@media (max-width:800px) {
    .about .right img {
        height: 60vh;
    }
}

@media (max-width:767px) {
    .about .right img {
        height: 50vh;
    }
}

@media (max-width:600px) {
    .about .right img {
        height: 40vh;
    }
}

@media (max-width:470px) {
    .about .right img {
        height: 35vh;
    }
}

/* end about */

/* start statistics */
.statistics {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 0% auto;
    gap: 20px;
    align-items: center;
    background-color: #f6f7f6;
    text-align: center;
    padding: 50px 0px;
}

.statistics span {
    color: #5fcf80;
    font-size: 50px;
    font-weight: 900;
}

.statistics p {
    color: #444444;
    font-size: 20px;
    font-weight: 500;
}

/* end statistics */

/* start Why Mentor */
.mentor {
    max-width: 90%;
    margin: 100px auto;
    display: grid;
    /* grid-template-columns: repeat(auto-fill , minmax(300px , 1fr)); */
    grid-template-columns: minmax(450px, 1fr) minmax(270px, 1fr) minmax(270px, 1fr) minmax(270px, 1fr);
    gap: 20px;
    align-items: center;
}

@media (max-width:1300px) {
    .mentor {
        grid-template-columns: minmax(450px, 1fr) minmax(270px, 1fr);
        grid-template-columns: minmax(270px, 1fr) minmax(270px, 1fr);
    }
}

@media (max-width:767px) {
    .mentor {
        grid-template-columns: minmax(450px, 1fr);
        grid-template-columns: minmax(270px, 1fr);
        grid-template-columns: minmax(270px, 1fr);
        grid-template-columns: minmax(270px, 1fr);
    }
}

.mentor .one {
    background-color: #5fcf80;
    padding: 40px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.mentor .one h1 {
    font-size: 37px;
    margin-bottom: 20px;
}

.mentor .one p {
    font-size: 18px;
    line-height: 1.5;
}

.mentor .one .learn__more {
    display: flex;
    justify-content: center;
}

.mentor .one a {
    margin-top: 20px;
    background-color: #7fd999;
    padding: 12px 40px;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.mentor .one a:hover {
    background-color: white;
    color: #5fcf80;
}

.mentor .two {
    border: 1px solid #f2f3f2;
    text-align: center;
    padding: 30px;
    margin: 40px 0px;
    height: 75%;
}

.mentor .two .icon {
    background-color: #ecf8f1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    margin: 0% auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.mentor .two .icon i {
    font-size: 25px;
    color: #5fcf80;
}

.mentor .two h3 {
    font-size: 20px;
    margin: 30px 0px;
    color: #444444;
}

.mentor .two p {
    line-height: 1.5;
    color: #9f9e9f;
}


.subjects {
    max-width: 90%;
    margin: 0% auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 50px;
}

.subjects p {
    padding: 20px;
    border: 1px solid #f2f3f2;
    margin-bottom: 20px;
    transition: .5s;
}

.subjects p:hover {
    border: 1px solid #5fcf80;
}

.subjects p a {
    color: #444444;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.subjects p:hover a {
    color: #5fcf80;
}

.subjects p i {
    margin-right: 10px;
    font-size: 25px;
}

.subjects .fa-store {
    color: #fec651;
}

.subjects .fa-database {
    color: #4bb1fe;
}

.subjects .fa-anchor {
    color: #bb9a60;
}

.subjects .fa-chart-simple {
    color: #5c7dff;
}

.subjects .fa-circle-dot {
    color: #fea66e;
}

.subjects .fa-compact-disc {
    color: #b30968;
}

.subjects .fa-wifi {
    color: #ed3687;
}

.subjects .fa-calendar {
    color: #29ded4;
}

.subjects .fa-receipt {
    color: #fe5829;
}

.subjects .fa-paint-roller {
    color: #e568ff;
}

.subjects .fa-tag {
    color: #4233ff;
}

.subjects .fa-fingerprint {
    color: #3dd16f;
}

/* end Why Mentor */

/* start popular courses */
.popular__courses {
    margin-bottom: 100px;
    overflow: hidden;
}

.popular__courses .popular__courses__header {
    max-width: 90%;
    margin: 50px auto;
    position: relative;
}

.popular__courses .popular__courses__header p {
    color: #b6afaa;
    margin-bottom: 10px;
}

.popular__courses .popular__courses__header p::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background-color: #9ae0ae;
    top: 10px;
    left: 85px;
}

.popular__courses .popular__courses__header h1 {
    font-size: 30px;
    font-weight: 900;
}

.courses {
    max-width: 90%;
    margin: 0% auto;
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.courses .box .image {
    position: relative;
    width: 100%;
    height: 300px;
}

.courses .box .image img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.trainer__information {
    padding: 10px;
    border: 1px solid #f3f5f3;
}

.box .info .image2 {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.box .info img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.courses .box .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .box .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: #69786c;
}

.courses .box .info>div {
    display: flex;
    align-items: center;
}

.box .price p {
    padding: 7px 15px;
    background-color: #3dd16f;
    color: white;
    margin-bottom: 20px;
}

.box .price span {
    font-size: 17px;
    font-weight: 900;
    color: #3e4b43;
}

.trainer__information a {
    font-size: 24px;
    color: #3e4b43;
    font-weight: 600;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.trainer__information a:hover {
    color: #3dd16f;
}

.trainer__information>p {
    color: #909090;
    padding: 15px 0px;
    border-bottom: 1px solid #e0e1e0;
    line-height: 1.4;
}

.box .info span {
    display: flex;
    gap: 5px;
    align-items: center;
}

.box .info i {
    font-size: 17px;
}

.box .info p {
    font-weight: 500;
}

/* end popular courses */

.trainers__two {
    max-width: 90%;
    margin: 50px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.trainers__two .mentor__two_image {
    position: relative;
    width: 100%;
    height: 400px;
}

.trainers__two .mentor__two_image img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.trainers__two .mentor__caption {
    text-align: center;
    border: 1px solid #f3f5f3;
    padding: 10px;
}

.trainers__two .mentor__caption h2 {
    margin-top: 10px;
    color: #585959;
}

.trainers__two .mentor__caption h5 {
    padding: 5px 0px;
    color: #818081;
}

.trainers__two .mentor__caption p {
    margin: 10px 0px;
    line-height: 1.4;
    color: #bbbaba;
}

.trainers__two .mentor__caption .icons__mentor i {
    font-size: 20px;
    color: #7f9586;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


.trainers__two .mentor__caption .icons__mentor i:hover {
    color: #3dd16f;
}

/* start footer */
footer {
    background-color: #f9fbf8;
}

.footer {
    max-width: 90%;
    margin: 0% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 0px;
}

.footer__mentor h2 {
    font-size: 30px;
    font-weight: 200;
}

.footer__mentor span {
    color: #484747;
    font-weight: 800;
    font-size: 15px;
}

.address {
    margin-top: 30px;
}

footer h2,
footer h3 {
    color: #374341;
    margin-bottom: 15px;
}

.footer__mentor p {
    color: #888888;
    line-height: 1.6;
}

.footer__Useful__Links a,
.footer__Our__Services a {
    line-height: 2.5;
    display: block;
    color: #888888;
    display: flex;
    align-items: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.footer__Useful__Links a:hover,
.footer__Our__Services a:hover {
    color: #3dd16f;
}

.footer__Useful__Links i,
.footer__Our__Services i {
    margin-right: 5px;
    font-size: 12px;
    color: #3dd16f;
}

.footer__Join_Our_Newsletter p {
    color: #585757;
    line-height: 1.5;
    margin: 30px 0px;
}

.footer__Join_Our_Newsletter form {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 15px;
    background-color: white;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 1px solid #e7eae9;
}

.footer__Join_Our_Newsletter form input[type="text"] {
    padding: 0px 60px;
    border: none;
}

@media (max-width:767px) {
    .footer__Join_Our_Newsletter form input[type="text"] {
        padding: 0px 30px;
    }
}

.footer__Join_Our_Newsletter form input[type="button"] {
    padding: 14px 25px;
    background-color: #3dd16f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.footer__Join_Our_Newsletter form input[type="button"]:hover {
    background-color: #3bc163;
}

/* end footer */

.end__page {
    background-color: #eef0ef;
}

.end__page_content {
    max-width: 90%;
    margin: 0% auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.end__page_content p {
    margin-top: 10px;
    color: #6d6681;
}

.end__page_content span {
    color: #374341;
    font-size: 17px;
    font-weight: 500;
}

.end__page_content a {
    color: #3bc16f;
}

.end__page_content a:hover {
    color: #1fa547;
}

.icons__endpage {
    display: flex;
    gap: 10px;
}

.icons__endpage div {
    background-color: #3bc163;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.icons__endpage i {
    color: white;
    font-size: 20px;
}